:root {
    --primary_dark: rgb(111, 22, 22);
    --primary_light: tan;
    --secondary_dark: maroon;
    --secondary_light: white;
    --shadow_dark: gray;
    --accent: gold;
}


body {
    width: 90%;
    margin: 0 auto;
    background-color: var(--primary_dark);
    color: var(--primary_light);
    font-family: 'Bubblegum Sans', cursive;
}

h1,
h2 {
    text-shadow: 1px 1px var(--shadow_dark);
    letter-spacing: 3px;
}

input[type=text] {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

fieldset {
    border-radius: 10px;
    font-size: 1.5em;
}

.tokenDiv {
    display: grid;
    grid-template-columns: auto auto auto;
}

@keyframes tokenSectionOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tokenSection {
    background-color: var(--secondary_light);
    color: var(--secondary_dark);
    display: inline-block;
    width: 250px;
    border: 5px ridge var(--accent);
    border-radius: 15px;
    text-align: center;
    animation: tokenSectionOpacity 5s;
}

.tokenSection:hover {
    border-color: yellow;
}

.tokenImg {
    border: 3px solid var(--primary_dark);
    border-radius: 10px;
}

.tokenImg:hover {
    box-shadow: 3px 3px var(--shadow_dark);
}